
body{font-family:PingFangSC-Regular,Helvetica,Arial,sans-serif;}

.games{width: 10rem;height: auto}
.games ul{width:100%;}
.games ul li{width:100%;height:1.6rem;line-height:1.6rem;background:#efefef;text-align:center;border:1px #f5f5f5 solid;border-top:none;box-sizing: border-box;}
.gameList a{display:inline-block;color:#a82333;font-size:.4rem;}




